h1{
      color: 	#8B008B;
      text-align: center;
		}

    h3{
          color: 	#fffff0;
          text-align: center;

    		}
		p{
			color:#5c0d5d;
		}

.tab {
  margin-top: 25px;
}

nav{
  color: #8e24aa;
}

h3.serif {
    font-family: "Didot", serif;
}
h5.cursive {
    font-family: "Snell Roundhand", cursive;
    color: #353839;
}
p.serif {
    font-family: "Didot", serif;
