h1{
      color: 	#8B008B;
      text-align: center;
		}

    h3{
          color: 	#fffff0;
          text-align: center;

    		}
		p{
			color: #fffff0;
		}

.tab {
  margin-top: 25px;
}

nav{
  color: #8e24aa;
}
